</section>

</main>

    <footer class="myFooter">

        <img class="imgFooter" src="https://mcdn.wallpapersafari.com/medium/99/95/8gZrUA.jpg" alt="">

        <img class="imgFooter" src="https://mcdn.wallpapersafari.com/medium/83/71/BlKiWp.jpg" alt="">

    </footer>

</body>

</html>