<!doctype html>
<html lang="fr_FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">

</head>


<body>

<header class="myHeader">

    <img class="logoHeader" src="{{ asset('assets/img/logoFB.png') }}" alt="">

    <div class="accrocheHeader">
        <em>
            The one and only social network you need... so just connect
        </em>
    </div>

</header>

<main class="myMain">
