<aside class="myAside">

    <nav>

        <ul class="myUL">

            <li>
                <a href="{{ path('twoprofiles') }}">
                    Home
                </a>
            </li>

            <li>
                <a href="{{ path('contact') }}">
                    Contact
                </a>
            </li>

            <li>
                <a href="{{ path('allprofiles') }}">
                List
                </a>
            </li>

        </ul>

    </nav>

</aside>

<section class="mySection">